.wpcf7 {
  input.icon-phone {
    min-height: 50px;
    background-image: url(#{$root-path}images/lite-phone.svg);
    background-position: 4px 4px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    padding: 4px 4px 4px 60px;

    @include media-breakpoint-up(xl) {
      min-height: 60px;
      background-position: 9px 9px;
    }
  }


  input.icon-email {
    min-height: 50px;
    background-image: url(#{$root-path}images/dark-email.svg);
    background-position: 4px 4px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    padding: 4px 4px 4px 60px;

    @include media-breakpoint-up(xl) {
      min-height: 60px;
      background-position: 9px 9px;
    }
  }

  input.icon-person {
    min-height: 50px;
    background-image: url(#{$root-path}images/person.svg);
    background-position: 4px 4px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    padding: 4px 4px 4px 60px;

    @include media-breakpoint-up(xl) {
      min-height: 60px;
      background-position: 9px 9px;
    }
  }

  position: relative;
  span.wpcf7-spinner {
    position: absolute;
    right: 0;
  }

  p {
    margin-bottom: 15px;
  }
}