#wrapper-navbar{
  .navbar-brand.custom-logo-link {
    min-width: 60px;
    img{
      max-height: 40px;
      width: auto;
    }
  }
  #main-nav{
    --bs-navbar-brand-margin-end: 0;
    padding: 10px  10px 10px 35px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
  }

  .btn {
    padding: 4px 4px 4px 19px;
    gap: 10px;
    --bs-btn-font-size: 16px;
  }

  .top-header{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;

    .info{
      flex-shrink: 1;
    }

  }

  .navbar{
    --bs-navbar-nav-link-padding-x: 10px;
    --bs-navbar-toggler-focus-width: 1px;
  }
}
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  z-index: 100;
  text-decoration: none;
  border-radius: 4px;


  overflow: hidden;
  white-space: nowrap;
}

.skip-link:focus {
  top: 10px;
}