body {

  .bg-secondary-lite {
    background-color: rgba(var(--bs-secondary-rgb),0.1) ;
  }

  a {
    text-decoration: none;
  }

  .section-wrapper {
    &:first-of-type {
      padding-top: 20px;

      @include media-breakpoint-up(lg) {
        padding-top: 30px;
      }
    }
  }
}

.text-gray {
  color: $gray;
}

.socials-wrapper {
  flex-shrink: 0;
  gap: 25px;

  .socials {
    gap: 15px;
  }
}

.white-label {
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding: 5px 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
  border-radius: 100px;
}

.wrapper {
  padding-top: 35px;
  padding-bottom: 35px;

  @include media-breakpoint-up(lg) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

h1, .h1 {
  @include media-breakpoint-up(lg) {
    font-size: 60px;
    line-height: 60px;
  }
  letter-spacing: 0;
  font-weight: 600;
  line-height: 1;
}

h2, .h2 {
  @include media-breakpoint-up(lg) {
    font-size: 50px;
    line-height: 56px;
  }
  letter-spacing: 0;
  font-weight: 600;
  line-height: 1.1em;
}

h3, .h3 {
  @include media-breakpoint-up(lg) {
    font-size: 28px;
  }
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0;
}

h4, .h4 {
  @include media-breakpoint-up(lg) {
    font-size: 24px;
  }
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0;

}

h5, .h5 {
  @include media-breakpoint-up(lg) {
    font-size: 22px;
  }
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0;
}

h6, .h6 {
  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0;
}

.fs-1 {
  @include media-breakpoint-up(lg) {
    @include rfs(3.75rem !important);
  }


}

.fs-2 {
  @include media-breakpoint-up(lg) {
    @include rfs(3.4375rem !important);
  }


}

.fs-3 {
  @include media-breakpoint-up(lg) {
    @include rfs(1.75rem !important);
  }


}


.fs-6 {
  @include media-breakpoint-up(lg) {
    font-size: 18px !important;
    line-height: 24px;
  }

}
.limit-4-lines {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.page-wrapper:has(.breadcrumbs){
  padding-top: 0!important;
}
.single{
  .entry-title{
    @include media-breakpoint-up(lg) {
      font-size: 38px;
      line-height: 100%;
    }
  }

  .steps-wrapper{
    .icon{
      border-radius: 15px;
      width: 50px;
      height: 50px;

    }
  }
}
.social-share-buttons {
  display: flex;
  gap: 4px;
  align-items: center;
}
.d-grid{
  gap:20px;
}
.grid-columns-md-2{
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.grid-columns-lg-3{
    @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(3, 1fr);
    }
}