.reasons-consultation-wrapper{
  ul.columns-2{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-inline-start: 0px;

    li{
      position: relative;
        padding-left: 25px;

      &::before{
        content: url(#{$root-path}images/square.svg);
        position: absolute;
        display: inline-block;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

  }
}

.doctors-grid{
  display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(3, 1fr);
    }
  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(4, 1fr);
  }

  .image-wrapper {
    border-radius: 10px;
    aspect-ratio: var(--aspect-ratio, 275/300) ;
    object-fit: cover;
    margin-bottom: 10px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 30px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}