body{
  .slider-swiper {
    .swiper-slide{
      border-radius: 20px;
      padding: 15px;

      .content-wrapper{

        @include media-breakpoint-up(xl) {
          padding: 0 15px 15px;
        }

        .title{
          margin-bottom: 15px;
        }
        .content{
          margin-bottom: 15px;
        }
      }

      .icon-wrapper{
        @include media-breakpoint-up(xl) {
          padding:  15px;
        }
        img{
            width: 70px;
            height: 70px;
            object-fit: contain;
        }
      }
      .image-wrapper {
        border-radius: 10px;
        aspect-ratio: var(--aspect-ratio, 275/200) ;
        object-fit: cover;
        margin-bottom: 10px;
        @include media-breakpoint-up(xl) {
          margin-bottom: 30px;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .doctors-swiper,
  .doctors-grid{
    overflow-x: clip;

    .doctor-item-wrapper{
      .doctor-item{
        border-radius: 20px;
        padding: 15px;
      }


        .button_reg{
          border-radius:0 0 20px  20px;
          padding: 15px;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
          opacity: 0;
          transform: translateY(0%);
          transition: all .3s ease, z-index 0s linear 0s;
        }
        &:hover{
          .button_reg{
            transform: translateY(calc(100% - 15px));
            opacity: 1;
            z-index: 11;
            transition: all .3s ease, z-index 0s linear .3s;
          }
        }

    }
  }

  .swiper-button-prev {
    background-image:  url(#{$root-path}images/left-white.svg);
    &:hover{
        background-image:  url(#{$root-path}images/left.svg);
    }

  }

  .swiper-button-next {
    background-image:  url(#{$root-path}images/right-white.svg);
    &:hover{
      background-image:  url(#{$root-path}images/right.svg);
    }
  }

   .swiper-button-next,
   .swiper-button-prev {
    background-position: center;
    background-repeat: no-repeat;
    background-color: #{$primary};
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    margin-top: 0;
    right: auto;
    left: 0;
    top: 0;
     transition: all .3s ease;

     &:hover{
       background-color: #{$secondary};
     }
    @include media-breakpoint-up(xl) {
      width: 60px;
      height: 60px;
    }

    &::after,
    &::after{
      content: "";
    }
  }
}




