.contact-form-section {

  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .image-wrapper{
    aspect-ratio: 520/353;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  /* Map */
  .leaflet-container {
    height: 100%;
  }

  .map-placeholder {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden
  }

  .map-gradient {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom right, #bbf7d0, #bfdbfe);
    opacity: .6
  }

  .map-content {
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: $dark;
    font-weight: 500;
  }
}