#wrapper-footer {
  color: $light_footer;

  a {
    color: $white;
  }

  .container{
    .row{
      border-bottom: 1px solid $Line_color;
      padding-bottom: 20px;
      margin-bottom: 20px;

      @include media-breakpoint-up(lg) {
        padding-bottom: 40px;
        margin-bottom: 40px;
      }

      &:last-of-type{
        border-bottom-width: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
      }
    }
  }

  .indicator-gallery{
    .images{
      figure{
        margin-left: -10px;

        &:nth-of-type(1){
          margin-left: 0px;
        }

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 64px;
          height: 64px;
          border: 4px solid $gray-dark;
          border-radius: 50%;
          left: -4px;
          top: -4px;
        }
        img{
          object-fit: cover;
          width: 56px;
          height: 56px;
          border-radius: 50%;
        }
      }
    }
  }

  .indicator-info{
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0;

    .indicator-title{
      font-weight: 700;
      margin-bottom: 8px;
    }

    .indicator-sub_title{
      font-weight: 400;
    }
  }

  .wpcf7 {

    @include media-breakpoint-up(xl) {
      max-width: 564px;
      margin: 0 0 0 auto !important;
    }
    .form-wrapper {
      display: flex;
      gap: 10px;
      flex-direction: column;
      @include media-breakpoint-up(sm) {
        flex-direction: row;
      }

      & > div {
        flex: 0 1 auto;

        p{
          margin-bottom: 0;
        }
      }

      .wpcf7-text {
        border: 1px solid $Line_color;
        color: $light_footer;
        background-color: transparent;
      }
    }
  }

  .grid-info{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    &>div{

        @include media-breakpoint-down(md) {
          flex: 0 1 auto;
            width: calc(50% - 10px);
        }

    }
    &>div:first-of-type{

      @include media-breakpoint-down(md) {
        flex: 0 1 100%;
        width: 100%;
      }

    }
    @include media-breakpoint-up(md) {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .colophon-wrapper {
    a {
      color: $light_footer;
    }
    p:last-of-type{
      margin-bottom: 0;
    }
  }

  .footer-menu{
    ul{
      gap: 10px;
    }
  }
}