.share-block {

  .share-btn{
    line-height: 1;

    &.facebook{
      background-color: #4267B2;
    }

    &.twitter{
      background-color: #000000;
    }

    &.whatsapp{
      background-color: #25d366;
    }

    &.telegram{
      background-color: #0088cc;
    }
  }
}