.hero-section {
  .title {

  }
  .content{


  }
  .cta{

  }

  .patients-gallery{
    .images{
      figure{
        margin-left: -10px;

        &:nth-of-type(1){
          margin-left: 0px;
        }

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 64px;
          height: 64px;
          border: 4px solid #f5f5f5;
          border-radius: 50%;
          left: -4px;
          top: -4px;
        }
        img{
          object-fit: cover;
          width: 56px;
          height: 56px;
          border-radius: 50%;
        }
      }
    }
  }

  .patients-info{
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0;

    .patients-title{
      font-weight: 700;
      margin-bottom: 8px;
    }

    .patients-sub_title{
      font-weight: 400;
    }
  }

  .indicators{

    font-size: 18px;
    .indicator{
      @include media-breakpoint-up(xl) {
        min-width: 197px;
      }
      .indicator_title{
        font-weight: 600;
        font-size: 30px;
        line-height: 1;
        letter-spacing: 0;

        @include media-breakpoint-up(xl) {
          font-size: 50px;
          line-height: 56px;
        }
        span.after {
          position: relative;
          top: -10px;
          line-height : 1;
          font-size: 20px;
          display: inline-block;
          @include media-breakpoint-up(xl) {
            top: -13px;
            line-height : 35px;
            font-size: 35px;
          }
        }
      }
    }
  }

  .image-wrapper {
    height: 100%;
    border-radius: 20px;

    img{
      @include media-breakpoint-up(md) {
        height: 100%;
        object-position: center;
        object-fit: cover;
      }
    }
  }
}