.news-section {

  .news-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    @include media-breakpoint-up(xl) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .content-wrapper{
    .title{
      margin-bottom: 15px;
    }
    .content{
        margin-bottom: 36px;
    }
  }
  .image-wrapper{
   //aspect-ratio: 285/315;
    @include media-breakpoint-up(md) {
      height: 100%;
    }
    @include media-breakpoint-up(lg) {
      height: 100%;
      min-height:  315px ;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
